IOS_FLAGS = DEBUG SMS_DEBUG_MENU_ENABLED SMS_DEBUG_SIGNPOSTER_SERVICE_ENABLED SMS_ONBOARDING_INJECT_DEMO_MDM SMS_APPLICATION_NEW_SEARCH_COMPONENT SMS_START_FAVORITES_ENABLED SMS_TODO_ATTACHMENTS SMS_ANALYTICS_ALCHEMER_ENABLED 
VISIONOS_FLAGS = DEBUG SMS_DEBUG_MENU_ENABLED SMS_DEBUG_SIGNPOSTER_SERVICE_ENABLED SMS_ONBOARDING_INJECT_DEMO_MDM SMS_APPLICATION_NEW_SEARCH_COMPONENT SMS_START_FAVORITES_ENABLED SMS_TODO_ATTACHMENTS SMS_ANALYTICS_ALCHEMER_ENABLED

// iOS, watchOS flags
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(IOS_FLAGS)

// visionOS flags
SWIFT_ACTIVE_COMPILATION_CONDITIONS[sdk=xros*] = $(VISIONOS_FLAGS)
SWIFT_ACTIVE_COMPILATION_CONDITIONS[sdk=xrsimulator*] = $(VISIONOS_FLAGS)

// Used within entitlements for com.apple.security.application-groups and Info.plist for App_Group_Id key
APP_GROUP_ID = group.com.sap.mobile.apps.SAPStart.m12n
